@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background-image: url(../img/denis-degioanni-9wH624ALFQA-unsplash.jpg);
  background-size: 250% 300%;
  animation: movingBackground 17s alternate infinite;
  font-family: 'Montserrat';
}

@keyframes movingBackground {
    0% {background-position: 0%}
    100% {background-position: 100%}
}

header {
  background-color: rgba(255, 250, 245, 0.865);
  margin-top: 5em;
  margin-bottom: 3em;
  padding-top: 4em;
  padding-bottom: 4em;
  text-align: center;
  box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.8), 0 16px 30px 0 rgba(0, 0, 0, 0.7);
}

form {
  color:  rgb(252, 252, 252);;
}

label {
  font-size: 2em;
}

.responseBox {
  display: none;
  background-color: rgba(255, 250, 245, 0.865);
  margin-top: 5em;
  padding-top: 1.5em;
  text-align: center;
  box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.8), 0 16px 30px 0 rgba(0, 0, 0, 0.7);
}